{% extends "base.html" %}
{% block content %}
<div class="main-container">
    <form action="/story" method="Post" enctype=multipart/form-data>
        <h4>Attach Description</h4>
        <div class="file-field input-field">
            <div class="btn">
                <span>Attach File</span>
                <input name="story_file" type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>

        <h4>Attach FAQ</h4>
        <div class="file-field input-field">
            <div class="btn">
                <span>Attach File</span>
                <input name="faq_file" type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>

        <button class="login-submit btn waves-effect waves-light" type="submit" name="action">upload
            <i class="material-icons right">send</i>
        </button>
    </form>

    <div id="modal1" class="modal">
        <h4 class="modal-header">Preparing your model</h4>
        <div class='container loading'>
        <div class='loading-overlay'></div>
        <div class='loading-anim'>
        <div class='border out'></div>
        <div class='border in'></div>
        <div class='border mid'></div>
        <div class='circle'>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
        </div>
        </div>
        </div>
    </div>
</div>

<script>
    $(".login-submit").click(function(e) {
        $("#modal1").openModal();
    });
</script>
{% endblock %}
